<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<script src="js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="login" >
			<div class="content clearfix">
				<div class="content-left">
					<div class="logo"style="width: 340px;">
						<img src="images/logo.png" alt=""/>
						<p>学情预警管理系统</p>
					</div>
				</div>
				<div class="shu"></div>
				<div class="content-right"style="margin-top: -35px">
					<div class="login-form">
						<h2>忘记密码</h2><span th:text="${msg}" style="color: red;font-size: 18px" ></span>
                        <form action="/forgetPassword" method="post">
                            <div class="account clearfix">
                                <span>账&nbsp&nbsp&nbsp&nbsp&nbsp  号：</span>
                                <input type="text" value="" name="uid"style="width: 230px"/>
                            </div>
                            <div class="account clearfix">
                                <span>邮&nbsp&nbsp&nbsp&nbsp&nbsp  箱：</span>
                                <input type="text" value="" name="email" style="width: 230px"/>
                            </div>
                            <div class="code clearfix">
                                <span>验&nbsp证&nbsp码：</span>
                                <input type="text" value="" name="code"/>
                                <em><img src="kaptcha/getKaptchaImage" class="reloadImage" id="reloadImage"
                                         width="125" height="35"/><a href="javaScript:;" class="l-color9 reloadImage">看不清，换一张</a></em>
                            </div>
                            <div class="btn">
                                <span id="login3"><a><input type="submit" value="重置" id="login"></a></span>
                                <span class="forget"><a href="/">返回登陆</a></span>
                            </div>
                        </form>
		</div>
				</div>
			</div>
		</div>
        <script>
            $(".reloadImage").click(function () {
//获取当前的时间作为参数，无具体意义
                var timenow = new Date().getTime();
                $('#reloadImage').attr("src", "kaptcha/getKaptchaImage?date=" + timenow);
            });
        </script>
	</body>
</html>
