<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/StudentRevise.css">
</head>
<body>
<div class="container information-content">
    <div class="content">
        <div class="information-title">
            <span>请修改您的密码</span>
        </div>
        <form action="/updatePassword">
            <div class="revise-content clearfix ">
                <div class="list fr"><label>原密码</label> : <input type="password" value="" id="password" name="password"/></div>
                <div class="list fr"><label>新密码</label> : <input type="password" value="" id="new_password" name="new_password"/></div>
                <div class="list fr "><label>确认密码</label> : <input type="password" value="" id="new_password2" name="new_password2" onblur="check()"/></div>
            </div>
            <div class="list1 "> <input type="submit" value="提交" name="" id="tijiao"/></div>
        </form>

    </div>
</div>
<script src="/js/jquery-3.3.1.js"></script>
<script th:inline="javascript">
    function check() {
        var password=$("#password").val();
        var new_password=$("#new_password").val();
        var new_password2=$("#new_password2").val();
        if (password==''||new_password==''){
            window.confirm("密码不能为空")
            $("#tijiao").attr("disabled",true);
        }else {
            $("#tijiao").attr("disabled",false);
        }
        if(new_password!=new_password2){
            window.confirm('两次输入的新密码必须一致')
            $("#tijiao").attr("disabled",true);
        }else{
            $("#tijiao").attr("disabled",false);
        }
    }
</script>
</body>
</html>