<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>学生信息管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<!--<div class="text-c"> 日期范围：-->
		<!--<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">-->
		<!-- - -->
		<!--<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">-->
		<!--<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">-->
		<!--<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>-->
	<!--</div>-->
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
        <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a href="javascript:;" onclick="exdate()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 批量导出</a>
        </span>
        <span class="r">共有数据：<strong th:text="${teachers.size()}"></strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort" id="tableSort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">教工号</th>
				<th width="100">教师姓名</th>
				<th width="40">性别</th>
				<th width="90">手机号</th>
				<th width="150">教师邮箱</th>
                <th width="150">所属学院</th>
				<th width="">居住地址</th>
				<th width="130">入职时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
        <div th:each="teacher,memberStat:${teachers}">
            <tr class="text-c">
                <td><input type="checkbox" th:value="${teacher.getTid()}" name="" class="id"></td>
                <td th:text="${teacher.getTid()}"></td>
                <td th:text="${teacher.getTeacher_name()}"></td>
                <td th:text="${teacher.getTeacher_sex()==1?'男':'女'}"></td>
                <td th:text="${teacher.getTeacher_phone()}"></td>
                <td th:text="${teacher.getTeacher_email()}"></td>
                <td th:text="${teacher.getTeacher_college()}"></td>
                <td th:text="${teacher.getTeacher_address()}"></td>
                <td th:text="${#dates.format(teacher.getTeacher_time(), 'yyyy-MM-dd')}"></td>
                <td >
                    <button class="btn" th:data-id="${teacher.getTid()}" onclick="del(this.getAttribute('data-id'))" type="button">删除</button>
                </td>
            </tr>
        </div>

		</tbody>
	</table>
        <div style="text-align: center;font-size: 18px">
            <a id="btn0" class="a1" style="padding-right: 0px"></a>
            <input id="pageSize" type="text" size="3" value="getDefaultValue()" class="ins"/>
            <a class="a1"> 条 </a>
            <a  id="pageSizeSet" class="a2">设置</a>
            <a id="sjzl" class="a1"></a>
            <a  id="btn1" class="a2">首页</a>
            <a   id="btn2" class="a2">上一页</a>
            <a   id="btn3" class="a2">下一页</a>
            <a   id="btn4" class="a2">尾页</a>
        </div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="/js/fenye.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    //删除用户
    function del(tid) {
        layer.confirm('确认删除吗？',function () {
            $.ajax({
                type: 'POST',
                url: '/delTeacher',
                dataType: 'json',
                data: {
                    tid: tid
                },
                success: function (data) {
                    window.location.reload();
                }
            })
        })
    }
    //批量删除
    function datadel() {
        layer.confirm('确认删除吗？',function () {
            var arrUserid = new Array();
            $(".id").each(function(i) {
                if (this.checked == true) {
                    arrUserid[i] = $(this).val();
                    $.ajax({
                        type: 'POST',
                        url: '/delTeacher',
                        dataType: 'json',
                        data: {
                            sid: arrUserid[i]
                        }
                    })
                }
            });
            alert("批量删除成功")
            window.location.reload();

        })
    }
    //批量导出
    function exdate(){
        alert("全选");
        var arrUserid = new Array();
        $(".id").each(function(i) {
            if (this.checked == true) {
                arrUserid[i] = $(this).val();
            }
        });
        var f=confirm("是否导出教师信息");
        if(f){
            location.href="/downTeacherInfo?arrUserid="+arrUserid
        }
    }

</script> 
</body>
</html>