
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>修改课程信息</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function $(objId) {
            return document.getElementById(objId);
        }
        function checkText1(objId,objName,num) {
            //获取指定的文本值
            var val = $(objId).value;
            //获取提示信息的Id
            var td = $(objId+"Td");
            //验证数据
            if(val==null||val.length==0){
                // td.innerHTML="<span style='color:red;font-size:14px;'>数据项["+objName+"]不能为空</span>";

                document.getElementById("tijiao").disabled=true;
                return false;
            }else if(!num.test(val)){
                // td.innerHTML = "<span style='color:red;font-size:14px;'>请填写正确的联系方式</span>";

                document.getElementById("tijiao").disabled=true;
                return false;
            }else{
                td.innerHTML = "<span style='color:#04D207;font-size:16px;'>ok</span>";
                document.getElementById("tijiao").disabled=false;
            }
        }
        function checkPhone() {
            var phone = /^\d+$/ig;
            return checkText1("phone","联系方式",phone)
        }
    </script>
</head>
<body>
<div class="bg">
    <div style="text-align: center">

        <span style="font-family: cursive;">修改课程信息</span>
    </div>

    <hr class="h_r"/>
    <div style="width: 100%;height: 600px;" class="bg_color">
        <table class="manage">
            <form action="/updateCourseing" method="post">
                <tr>
                    <td class="t"><span class="text_mi">*</span>课程号</td>
                    <td class="t2">
                        <input type="tel" th:value="${course.getCid()}" class="input_sr form-control" readonly="readonly" id="cid" name="cid" /></td>
                </tr>
                <tr>
                    <td class="t"><span class="text_mi">*</span>课程名</td>
                    <td class="t2">
                        <input type="tel" th:value="${course.getCourse_name()}" class="input_sr form-control" id="course_name" name="course_name" /></td>
                </tr>
                <tr>
                    <td class="t"><span class="text_mi">*</span>开课专业</td>
                    <td class="t2">
                        <input type="tel" th:value="${course.getCourse_major()}" class="input_sr form-control" id="" name="course_major" /></td>
                </tr>
                <tr>
                    <td class="t"><span class="text_mi">*</span>开课年段</td>
                    <td class="t2">
                        <input type="text" th:value="${course.getCourse_grade()}" class="input_sr form-control" id="course_grade" name="course_grade"/>
                    </td>
                </tr>
                <tr>
                    <td class="t"><span class="text_mi">*</span>开课时间</td>
                    <td class="t2">
                        <input type="Date" th:value="${#dates.format(course.getStart_time(), 'yyyy-MM-dd')}" class="input_sr form-control" id="start_time" name="start_time" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tj">
                        <input type="submit" value="保         存" class="input_tj" id="tijiao" onclick="baocun()"/>
                    </td>
                </tr>
            </form>
        </table>

    </div>
</div>
<script>
    function  baocun() {

        var f=confirm("尊敬的老师，您确定修改该课程信息吗？");
        if(f){
            return true
        }else{
            return false
        }

    }
</script>
</body>
</html>